@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #fbfbfe;
}

:root {
    /* COLORS */
    --bg-dark-blue: hsl(217, 54%, 11%);
    --bg-card-blue: hsl(216, 50%, 16%);
    --line-card: hsl(215, 32%, 27%);
    --white: #fbfbfe;
    --soft-blue: hsl(215, 51%, 70%);
    --cyan-card: hsl(178, 100%, 50%);
}

body {
    background: var(--bg-dark-blue);
    font-size: 18px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}

.card {
    position: relative;
    width: 310px;
    height: 530px;
    background-color: var(--bg-card-blue);
    border-radius: 12px;
    box-shadow: 0 0 8px var(--bg-card-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    /* padding: 10px; */
}

img {
    position: relative;
    border-radius: 10px;
    width: 270px;
}

.card__content {
    position: relative;
    display: flex;
}

.upLine {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.title {
    font-weight: 600;
}

.subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 17px;
    color: var(--soft-blue);
}

.counter {
    display: inline-flex;

}

.counterEth {
    display: flex;
    position: relative;
    margin-top: 23px;
}

.counterEth p {
    margin-left: 8px;
    color: var(--cyan-card);
    font-weight: 600;
}

.counterEth img {
    top: 3px;
    height: 17px;
    width: 10px;
}

.counterDays {
    display: flex;
    position: relative;
    top: 20px;
    left: 60px;
}

.counterDays p {
    margin-left: 8px;
    color: var(--soft-blue);
    font-weight: 400;
}

.counterDays img {
    width: 20px;
    height: 20px;
}

hr {
    position: relative;
    top: 23px;
    width: 275px;
}

.user {
    position: relative;
    display: flex;
    top: 35px;
}

.userName {
    color: var(--soft-blue);
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
}

span {
    font-weight: 400;
}

.user img {
    display: absolute;
    border: 1px solid #fbfbfe;
    border-radius: 50%;
    width: 30px;
    right: 30px;
}

.attribution {
    margin-top: 50px;
}